* { /*Configurações padrões de início de um projeto dentro do CSS*/
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    width: 100%;
    height: 100vh;
}

header {
    display: flex; /*Responsável por colocar os itens na mesma linha (lado a lado)*/
    justify-content: space-evenly; /*Alinhar os itens do nosso Header para o centro*/
    align-items: center; /*Tradução: justificar-conteúdo: espaço uniformemente. Alinhar os itens igualmente dentro da página*/
    padding: 2%; /*Cuida do Preenchimento*/
    background-color: rgb(56, 49, 49); /* Cor de fundo do nosso Cabeçalho/Header*/
    overflow: hidden; /**/
}

header > h1 { /*Selecionamos aqui a cor de letra do nosso h1, ou seja, do nosso título*/
    color: white; /*chamamos a prioridade color e definimos uma cor em questão*/
    font-size: 45px; /*Tamanho da letra*/
}

header > img { /* Aqui estamos chamando nossa imagem para ser atribuídas alterações*/
    width: 11rem; /* Largura da nossa imagem*/
    height: auto; /* tamanho da nossa imagem no tamanho automático*/
}

.item-menu-header { /*Nossas li's que estão dentro do LIST MENU, onde se encontram os nomes dos itens apresentados no HEADER*/
    margin-right: 25px; /*Margem da direita*/
}

.item-menu-header > a:hover { /*Nossas li's que estão dentro do LIST MENU. (a) nossa tad de link que é representada por: HOME/PRODUTOS/CONTATO, e o Hover responsável pela odificação de cor ao passar o cursor em cima. */
    color: yellow; /*Aqui atribuimos uma cor*/
    transition: 1s; /*E o tempo em que será exibido ao passar o cursor*/
}

.item-menu-header > a { /*Nossas li's que estão dentro do LIST MENU. (a) nossa tad de link que é representada por: HOME/PRODUTOS/CONTATO*/
    color: white; /*Cor das letras*/
    text-decoration: none; /*Responsável por tirar o sublinhado inferior que estava visível*/
    font-size: 12px; /*Tamanho da letra*/
}

.navbar {
    color: white; /*Cor da letra*/
    display: flex; /*Flexíveis*/
    justify-content: space-between; /* A distriubução dos itens sejam com space-between*/
    align-items: center; /*Alinhamento da vertical*/
    padding: 1rem 1.5rem; /*Preenchimento superior/inferior e esquerda/direita*/
    height: 2.6rem; /*Altura do NavBar*/
} 

.nav-links { /*Aqui estamos estilizando a UL (lista não ordenada)*/
    list-style: none; /*Retirando o estilo de lista*/
    margin: 0; /*Zerando os espaços de margem que são habilitados por padrão*/
    padding: 0; /*Zerando os preenchimentos de margem que são habilitados por padrão*/
    display: flex; /*Tornando a caixa flexível*/
}

.nav-links li { /*Estilizando nossa LI que está dentro da UL*/
    padding: 0 9px; /*Preenchimento da LI superior/inferior 0 e laterais em 9px*/
}

.nav-links a, 
.nav-links-mobile a { /*Estamos chamando as duas âncoras para estilização tanto da Versão Desktop quanto da versão mobile*/
    color: white; /*Cor da letra*/
    text-decoration: none; /*E sem sublinhado*/
}

.mobile-menu { /*Estilização da caixa Mobile quando aberta*/
    display: none; /*Display: nenhum*/
    position: fixed; /*Posição fixa na parte direita da página*/
    top: 0; /*Superior em 0 fazendo a ciaxa encostar no topo*/
    right: 0; /*Direita em 0 fazendo a ciaxa encostar na direita*/
    width: 60%; /*Largura em porcentagem da caixa*/
    height: 100%; /*Altura de 100% da tela*/
    background-color: black; /*Cor de fundo*/
    flex-direction: column; /*Direção dos itens dentro da caixa */
    align-items: center; /*Alinhamento na vertical dos itens*/
    font-size: 1.8rem; /*Tamanho da letra dentro da caixa */
}

.nav-links-mobile { /*Lista não ordenada da versão mobile*/
    display: flex; /*Tornando os itens (LISTAS) flexíveis*/
    flex-direction: column; /*Estamos direcionando o posicionamento dessas listas*/
    align-items: center; /*Alinhando o texto ao centro*/
    gap: 1.2rem; /*Espaço entre linhas*/
    width: 0%; /*Zeramos a largura podendo retirar essa linha para testar visualização*/
    list-style: none; /*Estilo de lista desabilitado*/
    padding: 0; /* Preenchimento zerado podendo também ser retirado para testes*/
}

.nav-links-mobile li { /*Listas da versão mobile*/
    border-bottom: 1px solid #787272; /*Bordar inferior de cada lista*/
    padding: 1.2rem; /*Tamanho da borda*/
}